.form{
    
    
    &--offer{
        width: 100%;
    }

    &--flat{
        display: flex;
        height: 9rem;
        width: 100%;
        align-items: center;

    }

    //Form group design
    &__group{
        display: flex;
        flex-direction: column-reverse;
        position: relative;
    }
    //The width of form group
    &__holder{
        display: flex;   
        box-sizing: border-box;
        &>*{
            &:not(:last-child){
                margin-right: 10px;
            }
        }     
    }

    &--full{
        width: 100%;
    }

    &--half{
        display: flex;
        width: 50%;
    }

    
    //White space between form group
    &--vertical{
        &>*{
            &:not(:last-child){
                margin-bottom: 1rem;
            }
        }
    }

    &--horizontal{
        
        &:not(:last-child){
            margin-right: 1rem;
        }
       
    }
    
}