.section{
    &--book{
        display: flex;
        background-image: linear-gradient(to right, $color-gradient-light, $color-gradient-dark);
        height: 100px;
        min-height: 100px;
        align-items: center;
    }

    &--recommended{
        padding: 4rem;
    }

    &--rated{
        padding: 4rem;
        color: $font-color;
    }

}