.section{
    &--book{
        display: flex;
        background-image: linear-gradient(to right, $color-gradient-light, $color-gradient-dark);
        height: 90px;
        min-height: 90px;
        align-items: center;
    }

    &--offer{
        height: 30rem;
        position: relative;
        overflow: hidden;
    }

    &--recommended{
        overflow: hidden;
        padding: 4rem;
    }

    &--rated{
        padding: 4rem;
        color: $font-color;
    }

}