* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color: $color-gradient-light;
    color: #fff;
}

html,body {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
   
    -ms-overflow-style: scrollbar;
    scroll-behavior: smooth;
    
}


a{
    text-decoration: none;
    color: $color-gradient-light;
}

ul{
    list-style: none;
}


