.carousel{
    
    &__hider{
        overflow: hidden;
        width: calc(100%);
        position: relative;
        padding: 2rem;
       
    }
    &__fading{
        height: 100%;
        width: 10rem;
        
        position: absolute;
        top: 0;    
        z-index: 5;

        &--left{
            background-image: linear-gradient(to right, rgba(#fff,1), rgba(#fff,0.7) 15%, transparent);
            left: 0;
        }

        &--right{
            background-image: linear-gradient(to left, rgba(#fff,1), rgba(#fff,0.7) 15%, transparent);
            right: 0;
        }
    }
}